---
import type { GetStaticPaths } from "astro";
import PageHeader from "~/components/PageHeader.astro";
import PostPreview from "~/components/PostPreview.astro";
import Layout from "~/layouts/Layout.astro";
import { getSortedPosts, SeriesGroup } from "~/utils";

export const getStaticPaths = (async () => {
	const seriesGroup = await SeriesGroup.build();
	return seriesGroup.collations.map((series) => {
		return {
			params: { slug: series.titleSlug },
			props: { posts: series.entries, seriesTitle: series.title },
		};
	});
}) satisfies GetStaticPaths;

const { posts, seriesTitle } = Astro.props;
const sortedPosts = (await getSortedPosts()).reverse();
const globalTotalCount = sortedPosts.length;
---

<Layout
  title={`Series: ${seriesTitle}`}
  description={`All posts in the ${seriesTitle} series`}
>
  <div class="mt-2 sm:mt-0">
    <PageHeader titlePieces={['series', seriesTitle]} />
    {
      posts.map((post) => {
        const globalIndex = sortedPosts.findIndex((p) => p.id === post.id)
        return (
          <PostPreview
            post={post}
            index={0}
            totalCount={globalTotalCount}
            globalIndex={globalIndex}
          />
        )
      })
    }
  </div>
</Layout>
