---
import { getCollection, render } from "astro:content";
import BlockHeader from "~/components/BlockHeader.astro";
import HomeBanner from "~/components/HomeBanner.astro";
import Pagination from "~/components/Pagination.astro";
import PostPreview from "~/components/PostPreview.astro";
import SeriesSection from "~/components/SeriesSection.astro";
import TagsSection from "~/components/TagsSection.astro";
import Layout from "~/layouts/Layout.astro";
import siteConfig from "~/site.config";
import { getSortedPosts } from "~/utils";

const home = await getCollection("home");
let HomeContent;
if (home.length > 0) {
	const homeEntry = home[0];
	const { Content } = await render(homeEntry);
	HomeContent = Content;
}
const sortedPosts = await getSortedPosts();
const postsHaveTags = sortedPosts.some(
	(post) => post.data.tags && post.data.tags.length > 0,
);

const postsHaveSeries = sortedPosts.some((post) => post.data.series);
---

<Layout>
  {
    HomeContent && (
      <HomeBanner>
        <HomeContent />
      </HomeBanner>
    )
  }
  {
    postsHaveSeries && (
      <BlockHeader jpTitle="シリーズ" title="Series">
        <SeriesSection posts={sortedPosts} />
      </BlockHeader>
    )
  }
  {
    postsHaveTags && (
      <BlockHeader jpTitle="タグ" title="Tags">
        <TagsSection posts={sortedPosts} />
      </BlockHeader>
    )
  }
  {
    sortedPosts.length > 0 && (
      <BlockHeader jpTitle="最新" title="Latest">
      <div class="px-3">
        {sortedPosts
          .reverse()
          .slice(0, Math.floor(siteConfig.pageSize / 2))
          .map((post, index) => (
            <PostPreview post={post} index={index} totalCount={sortedPosts.length} />
          ))}
        <Pagination nextLink="/blog" nextText="Articles" />
      </div>
      </BlockHeader>
    )
  }
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
