---
import Head from '@/components/Head.astro';
import Noise from '@/components/Noise.astro';
import Main from '@/components/Main.astro';
import '../style/global.css';

interface Props {
  title?: string;
  description?: string;
  ogImage?: {
    src: string;
    alt: string;
  };
  publishDate?: Date;
}

const {
  title,
  description,
  ogImage,
  publishDate
} = Astro.props;

const noiseEnabled = true;
---

<!DOCTYPE html>
<html lang="en" class="min-h-svh bg-jp-dark-primary">
  <Head
    title={title}
    description={description}
    ogImage={ogImage}
    publishDate={publishDate}
  />
  <body class="flex flex-col bg-jp-white text-jp-dark-primary dark:bg-jp-dark-primary dark:text-jp-white font-mono transition-colors duration-300 ease-in-out mx-auto md:max-w-4xl">
    {noiseEnabled && <Noise />}
    <Main noiseEnabled={noiseEnabled}>
      <slot />
    </Main>
  </body>
</html>
